body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A5DEE4;
  color: #9E7A7A;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header h1 {
  margin: 0;
  font-size: 1.5rem;
}
.header input {
  width: 25%;
  padding: 10px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header input:focus {
  border-color: #9E7A7A;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
  padding: 20px;
}
.main-category, .category {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}
.main-category h2, .category h3 {
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.main-category h2 {
  background: #D1EEEF;
  font-size: 1.3rem;
}
.main-category h2:hover {
  background: #c9e1e2;
}
.category h3 {
  background: #A5DEE4;
  font-size: 1.2rem;
}
.category h3:hover {
  background: #e9e9e9;
}
.items {
  display: none;
  padding: 10px 15px;
}
.item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.item:last-child {
  border-bottom: none;
}
.qr-code {
  flex-shrink: 0;
  width: 100px;
  margin-right: 15px;
}
.qr-code img {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.item-details {
  flex-grow: 1;
}
.item-details div {
  margin-bottom: 5px;
}

/* 輸入框 */
#barcodeInput {
  text-align: center;
  width: 80%;
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 條碼展示區域 */
#barcode {
  margin-top: 10px;
  padding: 20px;
  background-color: #D1EEEF;
  border-radius: 12px;
}
svg {
  margin:auto;
  display: block;
}

/* 美化滾動條樣式 */
::-webkit-scrollbar {
  width: 8px;                     /* 設定滾動條寬度 */
}

::-webkit-scrollbar-track {
  background: #E0E0E0;            /* 設定滾動條背景顏色 */
}

::-webkit-scrollbar-thumb {
   background: #A5DEE4;            /* 設定滑塊顏色 */
   border-radius: 10px;            /* 設定滑塊圓角 */
}

::-webkit-scrollbar-thumb:hover {
   background: #8E8E8E;            /* 滑鼠懸停時滑塊顏色 */
}

/* 表格樣式 */
table {
   border-collapse: collapse;
   width: 100%;
   margin: auto;
   background-color: #ffffff;
}

th, td {
   padding: 20px;
   text-align: center;
   border-bottom: 1px solid #ddd;
}
th {
   background-color: #D1EEEF;
   color: #9E7A7A;
   font-weight: bold;
}
td input[type="text"] {
   text-align: center;
   width: 60%;
   padding: 5px 10px;
   font-size: 1rem;
   border: 1px solid #ccc;
   border-radius: 25px;
   outline: none;
   transition: all 0.3s ease;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* 按鈕樣式 */
button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: #9E7A7A;
    background-color: #D1EEEF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* 優耳文字顏色 */
.blue-text {
    color: #070cfa;
}
.red-text {
    color: crimson;
}
